@font-face {
  font-family: 'Open Sans Bold';
  src: url("../font/OpenSans-Bold.eot");
  src: url("../font/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../font/OpenSans-Bold.woff") format("woff"), url("../font/OpenSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans Regular';
  src: url("../font/");
  src: url("../font/?#iefix") format("embedded-opentype"), url("../font/OpenSans-Regular.woff") format("woff"), url("../font/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Bold';
  src: url("../font/BebasNeueBold.eot");
  src: url("../font/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../font/BebasNeueBold.woff") format("woff"), url("../font/BebasNeueBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  font-family: 'Open Sans Regular', sans-serif;
  background-color: #080A0B;
}

h1 {
  font-family: 'Bebas Neue Bold', sans-serif;
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 3px;
  margin: 0;
  color: #fff;
}

main {
  margin-top: 100px;
  width: auto;
  height: auto;
}

h2 {
  font-family: 'Bebas Neue Bold', sans-serif;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 3px;
  margin: 0;
  color: #fff;
}

.action-button {
  background-color: #FFB548;
  border: 0;
  border-radius: 4px;
  padding: 20px;
  font-family: 'Open Sans Bold', sans-serif;
  margin-bottom: 320px;
}

.action-button:hover {
  cursor: pointer;
}

.action-button:focus {
  outline: none;
}

.section-transition::before {
  content: "";
  display: flex;
  position: relative;
  z-index: 2;
  margin-top: -150px;
  width: 100%;
  height: 10vh;
  background: linear-gradient(#080a0b, rgba(8, 10, 11, 0));
}

.section-transition::after {
  content: "";
  display: flex;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 10vh;
  background: linear-gradient(rgba(8, 10, 11, 0), #080a0b);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0;
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.navbar__logo {
  width: 55px;
  height: 55px;
  background: url("../img/navbar/navbar-logo.png") center center no-repeat;
  background-size: contain;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin: 0 20px;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .1em;
}

.navbar__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang-switcher li, .lang-switcher__arrow-down {
  list-style-type: none;
  text-transform: uppercase;
  font-family: 'Open Sans Bold', sans-serif;
  font-size: 14px;
  color: #fff;
}

.lang-switcher {
  display: flex;
  align-items: center;
  margin-right: 15px;
  text-decoration: none;
}

.lang-switcher__eng {
  margin-right: 8px;
}

.lang-switcher__arrow-down {
  font-size: 25px;
  display: block;
  transform: scaleY(0.5);
  padding: 15px 0;
  padding-right: 22px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.platforms {
  display: flex;
}

.platforms a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 8px;
}

.platform__xbox {
  background: url("../img/navbar/xbox-icon.png") center center no-repeat;
  background-size: contain;
}

.platform__steam {
  background: url("../img/navbar/steam-icon.png") center center no-repeat;
  background-size: contain;
}

.hero {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background: url("../img/hero/hero-bg.jpg") center center no-repeat;
  background-size: cover;
  background-color: #080A0B;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.hero__title {
  margin-bottom: 8px;
}

.hero__button {
  margin-top: 30px;
}

.hero__wrap {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__scrolldown {
  position: absolute;
  bottom: 4vh;
  right: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100px;
  text-decoration: none;
  z-index: 3;
}

.scrolldown__description {
  color: #fff;
  font-family: 'Open Sans Bold', sans-serif;
  margin-bottom: 10px;
}

.header {
  padding-bottom: 150px;
}

.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
  margin-top: -10vh;
  height: 10vh;
  color: rgba(8, 10, 11, 0);
  background: linear-gradient(rgba(8, 10, 11, 0), #080a0b);
}

.about {
  background-color: #080A0B;
  background: url("../img/about/about-bg.jpg") top center no-repeat;
  background-size: cover;
  padding-top: 220px;
}

.about::after {
  content: "";
  background: linear-gradient(rgba(8, 10, 11, 0), #080a0b);
  position: relative;
  display: flex;
  bottom: -6px;
  z-index: 2;
  width: 100%;
  height: 10vh;
}

.about__wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 47%;
  margin-right: 20px;
}

.about__subtitle {
  margin-bottom: 10px;
}

.about__title {
  margin-bottom: 60px;
}

.about__description {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  width: 365px;
  align-self: flex-end;
}

.about__description b {
  font-family: 'Open Sans Bold', sans-serif;
}

.about__description span {
  text-decoration: underline;
  text-decoration-color: #FFB548;
  text-decoration-thickness: 3px;
}

.about__decorative-line {
  position: absolute;
  z-index: 3;
  margin-top: -15px;
  width: 710px;
  height: 3px;
  background-color: #ccc;
  border-radius: 6px;
}

.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.about .splide {
  width: 500px;
  height: 600px;
  margin: 0;
  padding: 0;
}

.about .splide__slide__image {
  width: 500px;
  height: 600px;
  border-radius: 6px;
  margin: 0 auto;
}

.about .splide__slide__1 {
  background: url("../img/about/screenshot-1.jpg") top center no-repeat;
  background-size: cover;
}

.about .splide__slide__2 {
  background: url("../img/about/screenshot-2.jpg") top center no-repeat;
  background-size: cover;
}

.about .splide__slide__3 {
  background: url("../img/about/screenshot-3.jpg") top center no-repeat;
  background-size: cover;
}

.about .splide__arrow--prev {
  display: none;
  background: rgba(255, 255, 255, 0);
}

.about .splide__arrow--next {
  right: -50px;
  height: 50px;
  width: 30px;
  border-radius: 7px;
  background: rgba(255, 255, 255, 0);
}

.about .splide__custom-arrow {
  width: 18px;
  height: 38px;
}

.about .splide__pagination__page {
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 1;
  margin: 0 25px;
}

.about .splide__pagination__page.is-active {
  background-color: #fff;
  width: 14px;
  height: 14px;
  transform: scale(1);
}

.features {
  min-height: 960px;
  padding-top: 250px;
  background-color: #080A0B;
  background: url("../img/features/features-bg.jpg") top center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

.features::before {
  content: "";
  background: linear-gradient(#080a0b, rgba(8, 10, 11, 0));
  position: relative;
  display: flex;
  top: -250px;
  z-index: 2;
  width: 100%;
  height: 10vh;
}

.features__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 50px;
}

.features__subtitle {
  margin-bottom: 8px;
}

.features__title {
  margin-bottom: 70px;
}

.features__wrap {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}

.features__switch-wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 25px;
}

.feature {
  color: #FFB548;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Bebas Neue Bold', sans-serif;
  padding: 16px 0;
}

.feature__description {
  display: none;
  font-size: 18px;
  margin-top: 8px;
  max-width: 360px;
  font-family: 'Open Sans Regular', sans-serif;
  color: #fff;
}

.feature__description--active {
  display: flex;
}

.feature__switch {
  width: 1px;
  height: 14px;
  border-radius: 100%;
  outline: none;
  border: 1px solid #fff;
  background: transparent;
}
/*# sourceMappingURL=style.css.map */