body
    +regular
h1
    +bold-bn
    font-size: 80px
    line-height: 80px
    letter-spacing: 3px
    margin: 0
    color: #fff
h2
    +bold-bn
    font-size: 24px
    line-height: 24px
    letter-spacing: 3px
    margin: 0
    color: #fff
.action-button
    background-color: #FFB548
    border: 0
    border-radius: 4px
    padding: 20px
    +bold-os
    margin-bottom: 320px
    &:hover
        cursor: pointer
    &:focus
        outline: none